{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{#{% for row in rows %}#}
{#  {% set row_classes = [#}
{#    default_row_class ? 'views-row',#}
{#  ] %}#}

<div class="governance-wrap">
  {% if results %}
    {% for key, gov in results %}
      <div class="governance-group">
        {% if key != 4 and key != 57 and key != 59 %}
          <h2 class="title">
            {{ gov['label'] }}
            {#{{ gov|unset('label') }}#}
            {% if is_check_roles == 1 %}
              <a href="/taxonomy/term/{{ key }}/edit?destination={{ current_path }}">Edit</a>
            {% endif %}
          </h2>
          <table>
            <thead>
            <tr>
              <th class="role">Role</th>
              <th class="name">Name</th>
              <th class="company">Company</th>
              {% if is_check_roles == 1 %}
                <th class="action">Action</th>
              {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for keyg, item in gov|slice(1) %}
              <tr class="{% if keyg % 2 == 0 %} even {% else %} old{% endif %}">
                <td class="role">{% if item['field_role'] %} {{ item['field_role'] }}{% endif %}          </td>
                <td class="name">
                  {% if item['field_show_link'] == 1 %}
                    <a href="/node/{{ item['nid'] }}">{{ item['title'] }}</a>
                  {% else %}
                    {{ item['title'] }}
                  {% endif %}
                </td>
                <td class="company">{% if item['field_company'] %} {{ item['field_company'] }}{% endif %}</td>
                {% if is_check_roles == 1 %}
                  <td>
                    <a href="/node/{{ item['nid'] }}/edit?destination={{ current_path }}">Edit</a>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <h2 class="title last">
            {{ gov['label'] }}: <span class="no-bold">{{ gov[0]['title'] }}</span>
          </h2>
          {% if is_check_roles == 1 %}
            <a href="/node/{{ gov[0]['nid'] }}/edit?destination={{ current_path }}">Edit</a>
          {% endif %}
        {% endif %}

      </div>
    {% endfor %}

  {% endif %}
</div>

{#  <div{{ row.attributes.addClass(row_classes) }}>#}
{#    {{ row.content }}#}
{#  </div>#}
{#{% endfor %}#}